html, body, #root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#e9ecef, rgb(255, 255, 255));
}

.heading {
  padding-top: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

/* Navigation (links and hamburger button) */
.navLink {
  margin: 0px 20px;
}

#navBar {
  justify-content: center;
}

#navBar .hamburger {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 80%;
}
/* --- */

/* Name icon */
.name {
  font-family: 'Poppins', sans-serif;;
  font-size: 100%;
  vertical-align: middle;
  color: #284b63;
  text-decoration: none;
}

.name:hover {
  color: #284b63;
}

/* contacts icons */
.socialIcon {
  margin: 10px;
  font-size: 100%;
  color: black;
}

.greetings {
  padding-top: 7rem;
}

/* carousel */
.carouselDiv {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.slidingCarousel {
  width: 100%;
  flex-grow: 1;
}

.carouselItem {
  padding: 5% 15%;
}

.carouselContent {
  font-size: 100%;
  line-height: 150%;
}
/* --- */

/* About page */
.aboutGrid {
  flex-grow: 1;
  height: 100%;
}

.aboutCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutWords {
  padding-left: 10%;
}

.aboutTitleGroup {
  margin: 7% 0%;
}

.aboutTitle {
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  padding: 0%;
  padding-left: 15%;
  margin: 0%;
  text-align: left;
}

.aboutPicture {
  margin-top: 50px;
  height: 350px;
  border-radius: 1750px;
  -webkit-border-radius: 1750px;
  -moz-border-radius: 1750px;
  -ms-border-radius: 1750px;
  -o-border-radius: 1750px;
}

.aboutContent {
  padding: 1% 15% 1% 15%;
  text-align: justify;
  line-height: 200%;
}
/* --- */

/* Projects page */
.projectsGrid {
  padding: 3%;
}

.projectsCol {
  margin: 5% 0%;
}

.projectsGrid .mx-auto {
  height: 500px;
}

.projectsGrid .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImg {
  height: 210px;
}
/* --- */

/* Experience page */
.expCol {
  padding: 5% 0%;
}

.expCoyName {
  font-size: 120%;
  font-family: "Poppins", sans-serif;
}

.expPeriod {
  padding-bottom: 2%;
}

.expJD {
  text-align: left;
  line-height: 200%;
}

.expSeparator {
  margin: 1% 45%;
  border-top: 5px dotted black;
  background-color: white;
}
/* --- */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0.8;
}

.introWords {
  font-family: 'Open Sans', sans-serif;
  font-size: 20vw;
  line-height: 120%;
  background: -webkit-linear-gradient(rgb(4, 168, 239), rgb(162, 230, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1000px) {
  .introWords {font-size: 13vw;}
}

.hidden {
  visibility: hidden;
}

@keyframes reveal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.reveal {
  visibility: visible;
  animation: reveal 6s;
  -webkit-animation: reveal 6s;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  text-decoration: none;
  color: gray;
  display: inline;
}

.reveal:hover {
  color: rgb(60, 60, 60);
}